<script>

  var cb = function() {
    var l3 = document.createElement('link'); l3.rel = 'stylesheet';
    l3.href = 'http://fonts.googleapis.com/css?family=Lobster';
    h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l3, h);

    var l4 = document.createElement('link'); l4.rel = 'stylesheet';
    l4.href = 'http://fonts.googleapis.com/css?family=Andika&amp;subset=latin,cyrillic';
    h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l4, h);

    var l5 = document.createElement('link'); l5.rel = 'stylesheet';
    l5.href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
    h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l5, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);

</script>
<noscript>
  <!-- Let's not assume anything -->
    <!-- Google fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Andika&amp;subset=latin,cyrillic' />
    <!-- Font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</noscript>
