<div id="contact-area">
  <form id="form1" name="form1" class="wufoo page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://aniarteu.wufoo.com/forms/z1fo5ra10jtfxzx/#public">

    <label id="title4" for="Field4">{{ site.data.translations[page.lang].name }}</label>
    <input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" />

    <label id="title2" for="Field2">{{ site.data.translations[page.lang].email }}</label>
    <input id="Field2" name="Field2" type="email" spellcheck="false" value="" maxlength="255" tabindex="2" required/>

    <label id="title1" for="Field1">{{ site.data.translations[page.lang].message }}</label><br />
    <textarea id="Field1" name="Field1" rows="20" cols="20" spellcheck="true" tabindex="3" onkeyup="" required></textarea>

    <input type="hidden" id="idstamp" name="idstamp" value="wVji7NuCy9wL/GDwRgF6uQYiu2lyBOQ0X2Kt1N1rRGI=" />

    <input id="saveForm" name="saveForm" class="submit-button" type="submit" value="{{ site.data.translations[page.lang].submit }}"  tabindex="4" />
  </form>
</div>
