<!-- Start footer -->
<div class="footer col-md-6 col-md-offset-3">
  <h5>Copyright <strong>Nadezda Tarasova</strong> 2015
  	<span>
      <a href="https://www.facebook.com/Ani.Esperanza.1.1" title="FB Page of ANI Art" target="_blank"><i class="fa fa-facebook fa-1x icon1"></i></a>
      <a href="https://instagram.com/ani__art/" title="Instagram of ANI Art" target="_blank"><i class="fa fa-instagram fa-1x icon1"></i></a>
      <a href="/contact/" title="Contact Me"><i class="fa fa-envelope fa-1x icon1"></i></a>
    </span>
  </h5>
</div>
<!-- End footer -->