<div class="container-fluid"><!-- gallery -->

  <ul class="portfolio-filter text-center">
    <li><a class="btn btn-default active" href="#" data-filter="*">{{ site.data.translations[page.lang].all }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".landscapes">{{ site.data.translations[page.lang].landscapes }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".still-life">{{ site.data.translations[page.lang].still-life }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".portraits">{{ site.data.translations[page.lang].portraits }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".talismans">{{ site.data.translations[page.lang].talismans }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".abstractions">{{ site.data.translations[page.lang].abstractions }}</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".genre-painting">{{ site.data.translations[page.lang].genre-painting }}</a></li>
  </ul><!--/#portfolio-filter-->

  <div class="row">
    <div class="portfolio-items">

      {% for imagefile in site.data.galleries[page.lang] reversed %}

      <div class="portfolio-item {{ imagefile[1].category }} col-xs-12 col-sm-4 col-md-4">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="{{ imagefile[1].thumb }}" alt="{{ imagefile[1].title }}, {{ imagefile[1].materials }}, {{ imagefile[1].width }}x{{ imagefile[1].height }}, {{ imagefile[1].year }}">
          <div class="overlay">
            <div class="recent-work-inner">
              <a href="{{ imagefile[1].image }}" data-lightbox="gallery" data-title="{{ imagefile[1].title }}, {{ imagefile[1].materials }}, {{ imagefile[1].width }}x{{ imagefile[1].height }}, {{ imagefile[1].year }}" title="{{ imagefile[1].title }}, {{ imagefile[1].materials }}, {{ imagefile[1].width }}x{{ imagefile[1].height }}, {{ imagefile[1].year }}" onclick="ga('send', 'event', 'gallery', 'view', '{{ imagefile[1].title }}, {{ imagefile[1].materials }}, {{ imagefile[1].width }}x{{ imagefile[1].height }}, {{ imagefile[1].year }}');">{{ site.data.translations[page.lang].view }}</a>
            </div> 
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div><!-- /gallery -->