    
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html }}{% endif %}">
    
  {% if page.news %}
    <meta name="description" content="{% if page.preview %}{{ page.preview | strip_html }}{% else %}{{ page.desc | strip_html }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://aniart.eu{{ page.url }}" />
    <meta property="og:image" content="{% if page.image %}/img/news/{{ page.image | strip_html }}{% else %}http://aniart.eu/img/about.jpg{% endif %}" />
    <meta property="og:description" content="{% if page.preview %}{{ page.preview | strip_html }}{% else %}{{ page.desc | strip_html }}{% endif %}" />
    <meta property="og:locale" content="{{ page.locale }}" />
  {% else %}
  	<meta name="description" content="{% if page.desc %}{{ page.desc | strip_html }}{% endif %}">

    <meta property="og:title" content="ANI Art" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://aniart.eu" />
    <meta property="og:image" content="http://aniart.eu/img/about.jpg" />
    <meta property="og:description" content="{% if page.desc %}{{ page.desc | strip_html }}{% endif %}" />
    <meta property="og:locale" content="{{ page.locale }}" />
  {% endif %}