---
title: Par mani
name: about
---

<h1>Par mani</h1>
<div class="hr"></div>
<div class="col-md-6">
  <h4>
    <span class="text-about">Mani sauc Nadežda Tarasova, un es priecājos Jūs redzēt manā mājaslapā.</span> Esmu dzimusi un augusi Latvijas pilsētā Jūrmalā. Zīmēt es sāku agrā bērnībā un zīmēšana vienmēr bijis un joprojām ir viens no maniem mīļākajiem vaļaspriekiem. Tomēr profesiju es izvēlējos citu, jo mani interesēja arī skaitļu virknējumi. Esmu beigusi Rīgas Tehniskās universitātes ekonomikas fakultāti, iegūstot bakalaura grādu. Nākamo desmit gadu laikā veiksmīgi strādāju savā profesijā, nodarbojos ar uzņēmuma projektu attīstīšanu un daudz komunicēju ar cilvēkiem. Sāku arī nopietni izzināt „Taro” kārtis un astroloģiju, un šobrīd esmu praktizējoša taroloģe un astroloģe. Augstu vērtēju visas skaistuma un harmonijas izpausmes gan dabā, gan arī cilvēkos. Man patīk iepazīt pasauli un tādējādi smelties iedvesmu. Savās gleznās es cenšos parādīt savas izjūtas un attieksmi pret to, kas ir man apkārt.
  </h4>
  <h4>
    <span class="text-about">Glezniecībā man īpaši tuvs ir impresionisma un ekspresionisma stils.</span> Galvenokārt strādāju ar eļļas krāsām. Viena no manām mīļākajām tēmām ir jūra. Balstoties uz savām zināšanām ezotērikas jomā, gleznās ietveru pozitīvu enerģiju, simbolus, lai radītu gleznas-talismanus.
  </h4>
  <h4>
    <span class="text-about">Glezna var būt vērtīga un oriģināla dāvana</span>, brīnišķīgs rotājums mājai vai interesants interjera elements, it īpaši, ja tā atbilst Jūsu iekšējai pasaules uztverei un liek ataust patīkamām atmiņām.
  </h4>
  <h4>
    <span class="text-about">Sadaļā <a title="{{ site.data.navigation[page.lang].contact.title }}" href="{{ site.data.navigation[page.lang].contact.url }}">„Kontakti”</a> Jūs varat veikt individuālu pasūtījumu</span> vai sazināties ar mani, lai uzzinātu informāciju par gleznas iegādi. Pēc Jūsu pieprasījuma saņemšanas, es ar Jums sazināšos, un mēs apspriedīsim darba sižetu un detaļas no izmēra līdz krāsai, kā arī izpildes termiņus.
  </h4>
</div>
<div class="col-md-6">
  {% include about-photo.html %}
</div>
{% include about-exhibitions.html %}