<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head prefix="og: http://ogp.me/ns#">
    <title>ANI Art - {{ site.data.translations[page.lang].latvian-artist }} {{ site.data.translations[page.lang].nadezda-tarasova }} - {{ page.title | strip_html }}</title>

    <meta charset="utf-8">
    {% include all-meta-tags.html %}
    {% include all-alternate.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/img/favicon.ico" />

    {% include all-loadcss.html %}
    {% include all-schema.html %}
    {% include all-ga.html %}
  </head>

  <body>
  {% include all-fb.html %}
  
    <!-- Start wrapper -->
    <div class="wrapper">
      <!-- Logo -->
      <div class="brand">ANI Art
        <div class="title">{% include all-languages.html %}</div>
      </div>

      <!-- Navigation -->
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">{{ site.data.translations[page.lang].toggle-nav }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <div class="navbar-brand">ANI Art</div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav hidden-md hidden-lg">
            {% assign posts=site.posts | where:"date", page.date | sort: 'path' %}
            {% for post in posts %}
            <li class="navbar-title"><a href="{{ post.url }}" class="{{ post.lang }}">{% if post.lang == 'en' %}{{ site.data.translations[page.lang].en }}{% else %}{% if post.lang == 'ru' %}{{ site.data.translations[page.lang].ru }}{% else %}{{ site.data.translations[page.lang].lv }}{% endif %}{% endif %}</a></li>
            {% endfor %}
          </ul> 
          <hr class="hidden-md hidden-lg">
          <ul class="nav navbar-nav">
            {% for menu in site.data.navigation[page.lang] %}
            <li {% if menu[1].title == page.title %}class="active"{% endif %}><a title="{{ menu[1].title | strip_newlines | strip_html }}" href="{{ menu[1].url }}">{{ menu[1].title | strip_newlines | strip_html }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /navbar-collapse -->
      </nav>
      <!-- End nav -->
      
      <div class="col-md-10 col-md-offset-1">
        <!-- Content - news -->
        {% if page.news %}
          <h1>{{ page.title }}</h1>
          <div class="hr"></div>
          {{ content }}
          {% if page.image %}
          <div class="text-center">
            <img src="/img/news/{{ page.image }}" alt="{{ page.preview }}" class="resp main-image"/>
          </div>
          {% endif %}
          <div class="text-center">
            <a title="{{ site.data.navigation[page.lang].news.title }}" href="{{ site.data.navigation[page.lang].news.url }}" class="home-btn btn">
              {{ site.data.navigation[page.lang].news.title }}
            </a>
          </div>
        <!-- Content - pages -->
        {% else %}
          {{ content }}
        {% endif %}
        <!-- End of content -->          

      </div>
      <!-- col-md-10 col-md-offset-1 -->

      {% include all-footer.html %}
    </div>
    <!-- End wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>
    <!-- Boostrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    {% if page.gallery %}{% include all-lightbox.html %}{% endif %}
    {% if page.contact %}{% include all-wufoo.html %}{% endif %}
  </body>
  {% if page.contact %}{% include all-tracking-contact.html %}{% endif %}
</html>