<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>ANI Art - {{ page.title | strip_html }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{% if page.desc %}{{ page.desc | strip_html }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html }}{% endif %}">
    {% include alternate.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/img/favicon.ico" />

    {% include loadcss.html %}
    {% include ga.html %}
  </head>

  <body>

    <!-- Start wrapper -->
    <div class="wrapper">
      <div class="col-md-12">
        <!-- Logo -->
        <div class="brand"> ANI Art
          <div class="title">{% include languages.html %}</div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">{{ site.data.translations[page.lang].toggle-nav }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <div class="navbar-brand"><a href="#">ANI Art</a>
              <div class="title">{% include languages.html %}</div>
            </div>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% for menu in site.data.navigation[page.lang] %}
                <li {% if menu[1].title == page.title %}class="active"{% endif %}><a href="{{ menu[1].url }}">{{ menu[1].title | strip_newlines | strip_html }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!-- /navbar-collapse -->
        </nav>
        <!-- End nav -->

        <!-- Content -->
        {{ content }}
        <!-- End of content -->          

        {% include footer.html %}

      </div>
      <!-- End col-md-12 -->
    </div>
    <!-- End wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js" async></script>
    <!-- Boostrap JS -->
    <script src="js/bootstrap.min.js" async></script>

  </body>
</html>