---
title: About
name: about
type: page
lang: en
---

<h1>About</h1>
<div class="hr"></div>
<div class="col-md-6">
  <h4>
    <span class="text-about">My name is Nadezda Tarasova and I am glad to see you here on my website.</span> I was born and spent my childhood years in the Latvian city of Jurmala. I started to draw from the early childhood and drawing was and still remains one of my favorite crushes. Nevertheless, art was not the profession I had chosen. The point is that I am fond of beauty of numbers as well. So it was the reason why I became Bachelor of Economics in Riga Technical University. I had succeeded in my profession and I had been promoting different projects and communicating with people for the next ten years. Also I started to learn the art of Tarot cards and astrology. Now I am a practicing tarot reader and astrologer. I love all kinds of beauty and harmony of nature and human beings. I like to discover the world and find inspiration in this process. I believe that my paintings reflect my feelings and attitude to the world around me.
  </h4>
  <h4>
    <span class="text-about">Impressionism and Expressionism are my favorite art styles which I use painting in oil.</span> Marine is one of my most favorite genres. I am trying my best and using all my knowledge of esoterics in order to put good vibes and create talisman paintings.
  </h4>
  <h4><span class="text-about">That is not a secret that the painting is a great gift</span>, a beautiful decoration or an eye-catching element of interior, especially when it connects to your inner world or make you feel good by raising memories.</h4>
  <h4><span class="text-about">You can order a painting</span> with a personal or special idea of yours or reach me about purchasing a paintings via the <a title="{{ site.data.navigation[page.lang].contact.title }}" href="{{ site.data.navigation[page.lang].contact.url }}">‘Contact’</a> page and I will write you back as sooner as possible in order to find out details like the theme of the painting, its size, colors and completion period.</h4>
</div>
<div class="col-md-6">
  {% include about-photo.html %}
</div>
{% include about-exhibitions.html %}